<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display Biodiversity Data</title>
    <div><h1 style="color:blue;"><center>Exploring the biodiversity data related to Solar Farms</center></h1></div>
   <!--<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" /> -->
</head>
<body>
     <table border=1 style="border-spacing:50px; width:100%">
      <tr><td colspan="2"><a href="{{url_for('homepage')}}">Home Page</td></tr>
      <tr>
        <td width="50%">
            <div class="centered">
            <table style="border-spacing:25px;">
            	<tr>
            		<th>Display the Solar Energy Data Report</th>
            		<th><table>
        	    			<tr><td><a href="{{url_for('displayReport_SolarEnergy', data='fulloutput')}}" target="_blank">Full Output</a><sub><a href="{{url_for('static', filename='SolarEnergyData/CreateReport_DataPrep_SiteY_fulloutput.pdf')}}" download style="color: #286753;">Download the report</a></sub></td></tr>
                    <tr><td><a href="{{url_for('displayReport_SolarEnergy', data='ghg')}}" target="_blank">GHG</a><sub><a href="{{url_for('static', filename='SolarEnergyData/CreateReport_DataPrep_SiteY_ghg.pdf')}}" download style="color: #286753;">Download the report</a></sub></td></tr>
                    <tr><td><a href="{{url_for('displayReport_SolarEnergy', data='met')}}" target="_blank">Met</a><sub><a href="{{url_for('static', filename='SolarEnergyData/CreateReport_DataPrep_SiteY_met.pdf')}}" download style="color: #286753;">Download the report</a></sub></td></tr>
                    <tr><td><a href="{{url_for('displayReport_SolarEnergy', data='veg')}}" target="_blank">Veg</a><sub><a href="{{url_for('static', filename='SolarEnergyData/CreateReport_DataPrep_SiteY_veg.pdf')}}" download style="color: #286753;">Download the report</a></sub></td></tr>
            		    </table>
            		</th>
            	</tr>
            </table>
            </div>
        </td>
      </tr>
      <tr><td colspan="2"><a href="{{url_for('homepage')}}">Home Page</td></tr>
    </table>

    	
</body>
</html>

